
.recent-posts-section {
    .recent-posts-container {
        .recent-posts-row {
            .recent-posts-col {
                .single-post-tile {
                    a {
                        transition: all 0.2s ease-in-out;
                    }
                    
                    &:hover {
                        a {
                            transition: all 0.2s ease-in;
                            text-decoration: none;
                            .single-post-title-wrapper {
                                color: $color-accent; 
                                letter-spacing: 1px;
                            }
                            .single-post-date-wrapper {
                                color: $base-text-color; 
                                display: none; 
                            }
                        }
                       
                      
                    }
                    .single-post-image-wrapper {
                        padding-bottom: $recent-post-spacing; 
                        img {
                            width: 100%; 
                            aspect-ratio: 3 / 2;
                            height: auto; 
                        }
                    }
                    .single-post-title-wrapper {
                        transition: all 0.2s ease-in;
                        padding-bottom: $recent-post-spacing; 
                        text-decoration: none; 
                    }
                }
            }
        }
    }
}