.site-footer {
    padding-top: $footer-padding; 
    padding-bottom: $footer-padding; 
    background-color: $footer-background-color; 
    color: $footer-color; 
    .site-footer-content-container {
        .site-footer-content-row {
            @import './partials/social-list'; 
            .footer-logo-wrapper {
                max-width: 100px; 
                img {
                    filter: brightness(0) invert(1);
                }
            }

            .footer-navigation {
                ul {
                    gap: 40px; 
                    li {
                        a {
                            transition: all 0.2s ease-in;
                            letter-spacing: 1px; 
                            &:hover {
                                color: $color-accent; 
                                font-weight: 800;
                            }
                        }
                    }
                }
            }
        
        }
        .copyright-row {
            margin-top: 25px; 
            .footer-copyright-col {
                font-size: 12px; 
            }
            .social-list {
                gap: 30px; 
            }
        }
    }
}